<!-- <div class="search my-4">
  <input [(ngModel)]='term' class="form-control m-auto w-50" type="text" placeholder="Find a movie">
</div> -->

<div class="row mt-5">
  <div class="col-md-4 mt-3">
    <div class="brdr w-50 my-3"></div>

    <h2>
      Popular <br />
      movies <br />
      to watch now
    </h2>

    <div class="brdr w-100 my-3"></div>
  </div>

  <div *ngFor="let movie of trendingMovies|search:term" class="col-md-2 position-relative">
    <div
      [routerLink]="['/details', movie.media_type, movie.id]"
      class="movie my-2"
    >
      <img
        class="img-fluid"
        [src]="imageBase + movie.poster_path"
        [alt]="movie.title + movie.name + 'poster'"
      />
      <h3 class="h5 my-2">{{ movie.title }}{{ movie.name }}</h3>
      <div class="vote">
        {{ movie.vote_average }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mt-3">
    <div class="brdr w-50 my-3"></div>

    <h2>
      Popular <br />
      TV Shows <br />
      to watch now
    </h2>

    <div class="brdr w-100 my-3"></div>
  </div>

  <div *ngFor="let tv of trendingShows|search:term" class="col-md-2 position-relative">
    <div [routerLink]="['/details', tv.media_type, tv.id]" class="movie my-2">
      <img
        class="img-fluid"
        [src]="imageBase + tv.poster_path"
        [alt]="tv.title + 'poster'"
      />
      <h3 class="h5 my-2">{{ tv.title }}{{ tv.name }}</h3>
      <div class="vote">
        {{ tv.vote_average }}
      </div>
    </div>
  </div>
</div>
